.buns-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 12px;
    line-height: 20px;
    height: 30px;
    max-height: 30px;
    background: #006000;
    font-weight: 700;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow filter;
    transition-duration: 50ms;
}

.buns-button:hover {
    filter: brightness(1.2);
    box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
}